@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-red-600 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-700;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}